
<style type="text/css">

.jumbotron {
    position: relative;
    background: #696767 url("/assets/chinalakeDesert-1260x945.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
#jumbo {
  padding: 100px;
}

/* Container Border */
#smallcontainer1 {
	border: 2px solid #696767;
  display: table;
  height: 400px;
  width: 30%;
	border-radius: 2px;
	margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
	margin-bottom: 2px;
}

#smallcontainer2 {
	border: 2px solid #226389;
  display: table;
  height: 400px;
  width: 30%;
	border-radius: 2px;
	margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
	margin-bottom: 2px;
}

#smallcontainer3 {
	border: 2px solid #696767;
  display: table;
  height: 400px;
  width: 30%;
	border-radius: 2px;
	margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
	margin-bottom: 2px;
}
.btn-primary {
  background-color: #696767 !important;
  color: white !important;
  }

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: white;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}


</style>

<nav class="navbar navbar-default navbar-static">
    <div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Eupraxia Labs</a>
	</div>


	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown dropdown-large">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products</b></a>
				<ul class="dropdown-menu dropdown-menu-large row">
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Cloud Management</li>
              <li><%=link_to "Blueprint: EL Persistent Volume Manager (OpenShift 3)", pvprovisions_path %></li>
							<li><a href="#">ManageIQ</a></li>
							<li><a href="#">Examples</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Identity Management and Security</li>
							<li><a href="#">CyberSAFE</a></li>
							<li><%=link_to "Blueprint:WSO2 Identity Server (OpenShift 3)", pages_wso2is_path %></li>
							<li><a href="#">Blueprint:Shibboleth IdP</a></li>
							<li><a href="#">Blueprint: OpenVAS</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Continuous Integration</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Button toolbar</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Nesting</a></li>
							<li><a href="#">Vertical variation</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Customer Relationship Management</li>
							<li><a href="#">Single button dropdowns</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Content Management Systems</li>
							<li><a href="#">Basic example</a></li>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Checkboxes and radio addons</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Storage Management</li>
							<li><a href="#">GlusterFS</a></li>
							<li><a href="#">Ceph</a></li>
							<li><a href="#">OCFS</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Enterprise File Sync and Share (EFSS)</li>
							<li><a href="#">Default navbar</a></li>
							<li><a href="#">Buttons</a></li>
							<li><a href="#">Text</a></li>
							<li><a href="#">Non-nav links</a></li>
							<li><a href="#">Component alignment</a></li>
							<li><a href="#">Fixed to top</a></li>
							<li><a href="#">Fixed to bottom</a></li>
							<li><a href="#">Static top</a></li>
							<li><a href="#">Inverted navbar</a></li>
						</ul>
					</li>
				</ul>

			</li>
		</ul>

	</div><!-- /.nav-collapse -->
</nav>

<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="/assets/Eupraxia_Logo_2C_RGB-300x41.png">
        <img src="/assets/atlassian-rgb-navy-medium.png" width="300" height="79">
        <img src="/assets/large_v-dark-trans.png" width="250" height="218">
    </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div id="smallcontainer1" class="col-md-4">
          <h2><center>OpenShift 3</center></h2>
          <p>Lots to talk about here. More and more and more and more and more</p>
          <p><a class="btn btn-primary btn-sm" href="#" role="button" background-color= #226389>More &raquo;</a></p>
        </div>
        <div id="smallcontainer2" class="col-md-4">
          <img src="/assets/atlassian-rgb-navy-medium.png" width="200" height="55">
          <h2>Atlassian Jira</h2>
          <p>Dockerized and OpenShifterized</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
       </div>
        <div id="smallcontainer3" class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>

      </div>
