
<style type="text/css">

.jumbotron {
    position: relative;
    background: #696767 url("/assets/chinalakeDesert-1260x945.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
#jumbo {
  padding: 100px;
}

/* Container Border */
#smallcontainer {
	border: 2px solid #226389;
	border-radius: 2px;
	margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
	margin-bottom: 2px;
}
.btn-primary {
  background-color: #696767 !important;
  color: white !important;
  }

</style>

<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="/assets/Eupraxia_Logo_2C_RGB-300x41.png">
        <img src="/assets/atlassian-rgb-navy-medium.png" width="300" height="79">
        <img src="/assets/large_v-dark-trans.png" width="250" height="218">
    </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div id="smallcontainer" class="col-md-4">
          <h2><center>OpenShift 3</center></h2>
          <p>Lots to talk about here. More and more and more and more and more</p>
          <p><a class="btn btn-primary btn-sm" href="#" role="button" background-color= #226389>More &raquo;</a></p>
        </div>
        <div id="smallcontainer" class="col-md-4">
          <h2>Atlassian Jira</h2>
          <p>Dockerized and OpenShifterized</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
       </div>
        <div id="smallcontainer" class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>

      </div>
